.list{
  background-color:black;
  color:white;
  border-radius:10px;
  border:light;
  align-item:center;
  width:200px;
  height:200px
}

#screen{
    width: 150px;
    height: 80px;
    font-size: 28px;
    text-align: left;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    padding-right: 10px;
    box-sizing: border-box;
}

#values{
  border-radius:10px;
  border-color:grey;
  border:bold;
  transition:step(5);
  transition-delay:2s;
  transition-duration:5s;
  height:40px;
  width:50px;
}

button.hover{
  cursor:pointer;
  background-color:grey;
}


  
