.list{
  background-color:black;
  color:white;
  border-radius:10px;
  border: 1px solid lightgray;
  align-items:center;
  width:500px;
  height:500px;
}

#screen{
    width: 150px;
    height: 80px;
    font-size: 28px;
    text-align: left;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    padding-right: 10px;
    box-sizing: border-box;
}

#values{
  border-radius:10px;
  border-color:grey;
  border: 1px solid lightgray;
  transition:ease-out;
  transition-delay:2s;
  transition-duration:5s;
  height:40px;
  width:50px;
}

button:hover{
  cursor:pointer;
  background-color:grey;
}


  
